/* EXERCÍCIO 1: fontes */
/* importá-las aqui... e definir as `font-family` da turminha... */
@import "fonts/ravie.css";
@import "fonts/verdana.css";

:root{
  --cor-strong: #d027aa;
  --recipiente-grad: linear-gradient(to bottom, #f6f1b2, #4599b2 80%);
  --cor-bordas-recipiente: #d3d3d3;
  --cor-branco: #fff;
  --cor-bordas-cardapio: #aac0ae;
  --cor-hs-texto: #333;
  --cor-hs-cabecalho: #e90c0c;
  --cor-bg-cardapio: rgba(255, 255, 255, 0.2)
}

body {
  background-color: var(--cor-branco);
  font-family: "Verdana";
  margin: 0px;
}

strong {
  color: var(--cor-strong);
}

#recipiente {
  background-image: var(--recipiente-grad);
  border-left: 1px solid var(--cor-bordas-recipiente);
  border-right: 1px solid var(--cor-bordas-recipiente);
}
#cardapio {
  background-color: var(--cor-bg-cardapio);
  border-top: 1px solid var(--cor-bordas-cardapio);
  border-bottom: 1px solid var(--cor-bordas-cardapio);
  border-left: 1px solid var(--cor-bordas-cardapio);
}

#cardapio h3 {
  font-size: 18px;
  color: var(--cor-hs-texto);
  margin-top: 30px;
}

#cardapio article {
  font-size: 14px;
  color: var(--cor-hs-texto);
}

/* EXERCÍCIO 2: layout da página */
#recipiente {
  margin-left: auto;
  margin-right: auto;
  width: 800;
  display: grid;
  grid-template-columns: 154px auto;
  grid-template-rows:  96px auto 116px;
}

html, body, #recipiente {
  min-height: 100vh;
}

#cabecalho-pagina {
  grid-column: 2;
  grid-row: 1/2;
}

#lateral {
  grid-column: 1;
  grid-row: 1/3;
  padding-top: 17px;
}

#cardapio {
  grid-column: 2;
  grid-row: 2;
  padding: 20px;
}

#rodape-pagina {
  grid-column: 2;
  grid-row: 3
}



/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
  text-align: center;
  padding: 10px;
}

#cabecalho-pagina h1 {
  margin: 0;
  font-size: 36px;
  color: var(--cor-hs-cabecalho);;
  font-weight: normal;
  font-family: "Ravie";

}

#cabecalho-pagina h2 {
  margin: 0;
  font-size: 24px;
  color: var(--cor-hs-texto);
  font-weight: normal;
  text-align: right;
}

/* EXERCÍCIO 4: cada item do menu */
article {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
  padding-top: 46px;
  padding-bottom: 15px;
  padding-right: 25px;
  display: flex;
  justify-content: flex-end;
}

/* EXERCÍCIO 6: lateral */
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* EXERCÍCIO 7: o ticket */
#ticket {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  left: -89px; 
  transition: left 0.3s linear;
  }

#ticket:hover {
  left:0px
}

/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
  position: relative;
  left: -10px;
}

#peixe {
  position: relative;
  left: -44px;
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */


/* EXERCÍCIO 10: modo escuro */
/* no início deste arquivo (depois dos @import), coloque
   as custom properties */
/* coloque aqui a media query para sobrescrever o valor
   das custom properties para o modo escuro */
   @media (prefers-color-scheme: dark) {
    :root {
      --cor-strong: #853e75;
      --recipiente-grad: linear-gradient(to bottom, #272611, #0c1e24 80%);
      --cor-bordas-recipiente: #4e4d4d;
      --cor-bordas-cardapio: #59685b;
      --cor-hs-texto: rgba(255, 255, 255, 0.664);
      --cor-hs-cabecalho: #743333;
      --cor-bg-cardapio: rgba(24, 23, 23, 0.726);
    }
  }
